.barraInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #CAC9CD;
}

form{
    display: flex;
    flex-direction: column;
}

.inputGroup {
    position: relative; 
    margin: 50px 30%;
    
}