.barraInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #CAC9CD;
}


.inputGroup {
    position: relative; 
    width: 60%;
    margin: 30px auto;
}



button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1.2em;
    width: 60%;
    margin: 0px auto;
    font-size: 1em;
    background-color: #3BADFB;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  button:hover {
    transform: scale(1.009);
    background-color: #136ca7;

  }