.barraInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #CAC9CD;
}


.inputGroup {
    position: relative; 
    width: 419px;
    height: 50px;
    margin: 30px auto;
}

.buttonReg{
  width: 419px;
    height: 50px;
    margin: 0px auto;
}
