@font-face {
  font-family: 'Popins';
  src: url('../src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PopinsBold';
  src: url('../src/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: 'Popins';
  line-height: 22.5px;
  font-weight: 500;
  font-size: 15px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2A233C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color:  #3BADFB;
  transition: all ease .3s;
  text-decoration: inherit;

}

a:hover {
  transform: scale(1.1);

}


body {
  margin: 0;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}





