.barraInicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #CAC9CD;
}
/*scale tava duplicando pois LINK ou tags 'a' já tinha um transformer no hover*/
.buttonRegistro:hover{
    transform: scale(1);
}

.buscador{
    width: 20em;
    padding-left: 12%;
    background-image: url("../../../assets/search.png") ;
    background-repeat: no-repeat;
    background-position:4% 50%;
    border: #CAC9CD solid .8px;
    color: #CAC9CD;
}

.buscador::placeholder{
    color: #CAC9CD;
}

